<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
{% include "starapps-core" %}


      <!-- Basic page needs ================================================== -->
      <meta charset="utf-8">
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
      <link rel="preload" as="image" href="//cdn.shopify.com/s/files/1/0645/1609/6221/files/2.png?v=1656414656">



      {% if settings.favicon %}
          <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
      {% endif %}

      <!-- Title and description ================================================== -->
      <title>
          {{ page_title }}
          {% if current_tags %}
              {% assign meta_tags = current_tags | join: ', ' %}
              &ndash;
              {{ 'general.meta.tags' | t: tags: meta_tags }}
          {% endif %}
          {% if current_page != 1 %}
              &ndash;
              {{ 'general.meta.page' | t: page: current_page }}
          {% endif %}
          {% unless page_title contains shop.name %}
              &ndash;
              {{ shop.name }}
          {% endunless %}
      </title>

      {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
      {% endif %}

      <!-- Helpers ================================================== -->
      {% include 'social-meta-tags' %}
      <link rel="canonical" href="{{ canonical_url }}">
      <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
      <meta name="theme-color" content="{{ settings.color_primary }}">
      {% render 'css-variables' %}

      <!-- CSS ================================================== -->
  
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"></noscript>
      <link rel="preload" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></noscript>
    <link rel="stylesheet" href="{{ 'timber.scss.css' | asset_url }}"> 
      <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
      {{ 'main.css' | asset_url | stylesheet_tag }}


      <!-- Sections ================================================== -->
      <script>
        window.theme = window.theme || {};
        theme.strings = {
          zoomClose: {{ "products.zoom.close" | t | json }},
          zoomPrev: {{ "products.zoom.prev" | t | json }},
          zoomNext: {{ "products.zoom.next" | t | json }},
          moneyFormat: {{ shop.money_format | json }},
          addressError: {{ 'home_page.map.address_error' | t | json }},
          addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
          authError: {{ 'home_page.map.auth_error_html' | t | json }},
          cartEmpty: {{ 'cart.general.empty' | t | json }},
          cartCookie: {{ 'cart.general.cookies_required' | t | json }},
          cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
          productSlideLabel: {{ 'products.product.slide_label' | t: slide_number: '[slide_number]', slide_max: '[slide_max]' | json }}
        };
        theme.settings = {
          cartType: {{ settings.cart_type | json }},
          gridType: {{ settings.collection_products_grid | json }}
        };
  
        {%- if template == 'collection' -%}
        {%- if current_tags -%}
        {%- capture tag_handles -%}
        {%- for tag in current_tags -%}
        {{- tag | handle | append: '|' -}}
        {%- endfor -%}
        {%- endcapture -%}
        {%- endif -%}
        theme.backToCollection = {
          collection: {
            title: {{ collection.title | json }},
            link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
          }
        };
        sessionStorage.setItem("backToCollection", JSON.stringify(theme.backToCollection.collection));
  
        {%- elsif template != 'product' -%}
        if (sessionStorage.getItem("backToCollection")) {
          sessionStorage.removeItem("backToCollection")
        }
        {%- endif -%}
      </script>

   
      <!-- Header hook for plugins ================================================== -->
      {{ content_for_header }}

      {{ 'modernizr.min.js' | asset_url | script_tag }}

      {% comment %}
      If you store has customer accounts disabled, you can remove the following JS file
      {% endcomment %}
      {% if request.page_type contains 'customers/' %}
          {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {% endif %}

    {% render 'judgeme_core' %}
</head>

  {% comment %}
    Add the page template as a class for easy page or template specific styling.
    {% endcomment %}
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

      {% section 'header' %}

      <div class="drawer drawer--right drawer--has-fixed-footer" id="CartDrawer">
          <div class="drawer__fixed-header">
              <div class="drawer__header">
                  <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
                  <div class="drawer__close">
                      <button class="icon-fallback-text drawer__close-button js-drawer-close" type="button">
                          <span aria-hidden="true" class="icon icon-x"></span>
                          <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
                      </button>
                  </div>
              </div>
          </div>
          <div class="drawer__inner">
              <div class="drawer__cart" id="CartContainer"></div>
          </div>
      </div>

      <div class="page-container" id="PageContainer">
          <main class="main-content" role="main">
              {% unless request.page_type == "index" %}
                  <div class="container">
                  {% endunless %}
                  {{ content_for_layout }}
                  {% unless request.page_type == "index" %}
                  </div>
              {% endunless %}
          </main>

          <hr class="hr--large">

          {% section 'footer' %}

      </div>
      <script src="  {{ 'jquery-2.2.3.min.js' | asset_url }}"  ></script>

      <script src="{{ 'lazysizes.min.js' | asset_url }}" async ></script>

      <script src="{{ 'theme.js' | asset_url }}"  ></script>

      <script defer src="{{ "main.js" | asset_url }}"></script>
      {% comment %}
      Template-specific js
      {% endcomment %}
      <script>
        {% if resetPassword %}
        $(function() {
          timber.initCache();
          timber.resetPasswordSuccess();
        });
        {% endif %}
      </script>

      {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
      - http://shopify.com/timber#ajax-cart
      {% endcomment %}

      <script data-cart-routes type="application/json">
          {
                    "cartUrl": "{{ routes.cart_url }}",
                    "cartAddUrl": "{{ routes.cart_add_url }}",
                    "cartChangeUrl": "{{ routes.cart_change_url }}"
                  }
      </script>
      {% if settings.cart_type == 'drawer' %}
          {% include 'ajax-cart-template' %}
      {% endif %}

      {% if request.page_type == 'product' or request.page_type == 'index' %}
          <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
      {% endif %}

      <div class="mfp-hide" id="SearchModal">
          {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
      </div>
     
      

       

      
      <ul hidden>
          <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
          <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
          <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
      </ul>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html> 
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.1.5) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Overrides:
// var afterpay_min = 1.00;       // As per your Afterpay contract.
// var afterpay_max = 2000.00;    // As per your Afterpay contract.
// var afterpay_msg_size = 'sm';  // Can be 'xs', 'sm', 'md' or 'lg'.
// var afterpay_bold_amount = true;
// var afterpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
// var afterpay_modal_open_icon = true;
// var afterpay_hide_upper_limit = false;
// var afterpay_hide_lower_limit = true;
// var afterpay_show_if_outside_limits = true;
// var afterpay_cbt_enabled = false;
// var afterpay_apr_loans_available = false;

// var afterpay_product_integration_enabled = true;
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_variable_price_fallback = false;
// var afterpay_variable_price_fallback_selector = '';
// var afterpay_variable_price_fallback_method = 'mutation';  // Can be 'mutation' or 'interval'.

// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';
// var afterpay_variable_subtotal_fallback = false;
// var afterpay_variable_subtotal_fallback_selector = '';
// var afterpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.
// var afterpay_cart_dynamic_integration_enabled = false;

// var afterpay_footer_logo_enabled = true;
// var afterpay_footer_logo_format = 'icon';  // Can be 'icon', 'stacked' or 'logo'.
// var afterpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
// var afterpay_footer_logo_container = 'footer ul.payment-icons';
// var afterpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';

// Non-editable fields:
var afterpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
var afterpay_js_country = {{ localization.country.iso_code | json }};
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.1.5';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
{% else %}
<!-- Afterpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Afterpay JavaScript Snippet (v1.1.5) -->
