<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ section.settings.pagetitle  | escape }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <div class="img-wrap">
                    {%- assign img_url = section.settings.image | image_url -%}
                    <img src="{{ img_url }}" alt="{{ section.settings.image.alt | escape }}">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="about-content">
                    <span class="mt-4"></span>
                    <p>
                        {{ section.settings.aboutcontent  | escape }}
                    </p>
                    <ul>
                        {% for block in section.blocks %}
                          {% case block.type %}
                            {% when 'list' %}
                            <li>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49" height="49">
                                        <title>Layer 1</title>
                                        <style>
                                            .line {fill: none;
                                                stroke: #000; } 
                                        </style>
                                        <g id="Layer 1">
                                            <g id="&lt;Group&gt;">
                                                <g id="&lt;Group&gt;">
                                                    <g id="-e-">
                                                        <path id="&lt;Path&gt;" class="line" d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9"/>
                                                        <path id="&lt;Path&gt;" class="line" d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <p class="mb-0">
                                    {{ block.settings.aboutdetails }}
                                </p>
                            </li>
                          {% endcase %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center py-5">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                        height="49">
                        <title>Layer 1</title>
                        <style>
                            .s0 {
                                fill: #100e0f
                            }
                        </style>
                        <g id="Layer 1">
                            <g id="&lt;Group&gt;">
                                <g id="&lt;Group&gt;">
                                    <g id="-e-">
                                        <path id="&lt;Path&gt;" class="s0"
                                            d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                        <path id="&lt;Path&gt;" class="s0"
                                            d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="our-work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 d-flex flex-column mb-3">
                {% for block in section.blocks %}
                    {% case block.type %}
                    {% when 'slide' %}
                        <div class="work-img mb-3" {{ block.shopify_attributes }}>
                            {{ block.settings.aboutimage | image_tag }}
                        </div>
                    {% endcase %}
                {% endfor %}
                <!-- <div class="work-img mb-3">
                    <img src="images/about-im-2.png" alt="image">
                </div>
                <div class="work-img">
                    <img src="images/about-im-4.png" alt="image">
                </div> -->
            </div>
            <!-- <div class="col-12 col-md-4 d-flex flex-column mb-3">
                <div class="work-img mb-3">
                    <img src="images/about-im-3.png" alt="image">
                </div>
                <div class="work-img">
                    <img src="images/about-im-5.png" alt="image">
                </div>
            </div> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <p>
                    {{ section.settings.aboutdescription  | escape }}
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "About Us page",
    "settings":[ 
        {
        "type": "text",
        "id": "pagetitle",
        "label": "Page Title"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
        "type": "textarea",
        "id": "aboutcontent",
        "label": "About Content"
        },
        {
        "type": "textarea",
        "id": "aboutdescription",
        "label": "About Description"
        }
    ],

     "blocks": [
        {
           "name": "About Details",
           "type": "list",
           "settings": [
            {
               "type": "text",
               "id": "aboutdetails",
               "label": "About Details"
            }
           ]
        },
        {
           "name": "About Image",
           "type": "slide",
           "settings": [
            {
               "type": "text",
               "id": "aboutimage",
               "label": "About Image"
            }
           ]
        }
    ],

    "presets": [
        {
            "name": "About Us page",
            "category": "Page"
        }
    ]
}
{% endschema %}
