{%- if section.blocks.size > 0 -%}
{%- liquid
  if section.blocks.size == 9
    assign footer_grid_class = 'grid--3-col-tablet'
  elsif section.blocks.size > 6
    assign footer_grid_class = 'grid--4-col-desktop'
  elsif section.blocks.size > 4
    assign footer_grid_class = 'grid--3-col-tablet'
  endif
-%}
<div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
  {%- for block in section.blocks -%}
    <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
      {%- if block.settings.heading != blank -%}
        <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
      {%- endif -%}

      {%- case block.type -%}
        {%- when 'text' -%}
          <div class="footer-block__details-content rte">
            {{ block.settings.subtext }}
          </div>
        {%- when 'link_list' -%}
          {%- if block.settings.menu != blank and block.settings.heading != blank -%}
            <ul class="footer-block__details-content list-unstyled">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- when 'image' -%}
          <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
            {%- if block.settings.image != blank -%}
              {%- assign image_size = block.settings.image_width | append: 'x' -%}
              <img
                srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                src="{{ block.settings.image | img_url: '400x' }}"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                style="max-width: min(100%, {{ block.settings.image_width }}px);"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
          </div>
        {%- endcase -%}
    </div>
  {%- endfor -%}
</div>
{%- endif -%}

<style>
@media (max-width: 767px) {
  .footer-block__details-content {
    display: none;
  }
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
  $('.footer-block__heading').on('click', function() {
    if ($(window).width() < 768) {
      $(this).next().toggle();
    }
  });
});
</script>